.detail_wrapper {
    position: relative;
    min-width: 1440px;
    overflow: hidden;
    min-height: 100vh;
}

.contents_wrap {
    padding-top: 42px;
}

.prod_detail_header {
    position: relative;
    padding-bottom: 60px;
    z-index: 101;
}

.tab_wrap {
    position: relative;
    width: 100%;
    padding: 0;
}

.detail_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 1440px;
    background-color: #fff;
    z-index: 102;
}

.header_inner {
    width: 1200px;
    margin: 0 auto;
}

.detail_title {

}

.detail_view {
    display: block;
    margin-top: 18px;
    word-break: break-all;
}

.title_area {
    display: block;
    position: relative;
    padding: 0 72px;
}

.title_box {
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
}

.util_btn_box {
    position: absolute;
    right: 0;
    top: 0;
}

.pred_desc_area {
    display: block;
    margin-top: 7px;
    padding: 0 52px;
}

.overflow_contents {
    max-height: 84px;
    overflow: hidden;
}

.overflow_inner {
    display: block;
}

.book_title {
    display: inline
}

.book_sm_title {
    font-size: 13px !important;
    line-height: 19px !important;
    letter-spacing: -0.01em;
    font-weight: 400 !important;
    text-align: center;
}

.prod_title {
    display: inline;
    color: #000;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.share_wrap {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: top;
}

.btn_share {
    width: 42px;
    height: 42px;
    line-height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
}

.ico_share {
    background-image: url("/images/common/ico_share@2x.png");
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    vertical-align: top;
}

.hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.prod_desc_box {
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
}

.books_comment {
    max-height: 46px;
    overflow: hidden;
    display: block;
}

.books_inner {
    display: block;
}

.prod_desc {
    display: inline;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.gap {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 6px 10px 0;
    background-color: #ccc;
    font-size: 0;
    vertical-align: top;
}

.prod_desc_normal {
    color: #767676;
    font-weight: 400;
    display: inline;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.color {
    color: #000;
    font-weight: 700;
}

.type_area {
    display: block;
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
}

.view_area {
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 30px;
}

.type_list {
    display: block;
    text-align: center;
}

.type_ko_el {
    display: -webkit-inline-flex;
    align-items: center;
    flex-direction: row;
    min-width: 380px;
    background: #f2f2f2;
    border-radius: 10px;
    font-size: 0;
    vertical-align: top;
    padding-left: 0;
}

.paper_book {
    display: inline-block;
    flex: 1;
    min-width: 114px;
    vertical-align: top;
}

.overflow_wrap {
    flex: 1;
    align-items: center;
}

.book_select {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.btn_prod_type {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 6px 10px 7px;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

.btn_col {
    background: #fff;
}

.prod_type {
    color: #5055b1;
    font-weight: 700
}

.prod_price {
    color: #5055b1;
}

.select_title {
    display: block;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.book_price {
    display: block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.un_select {
    background: transparent;
}

.no_select_title {
    display: block;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.prod_info {
    flex: 1 0 auto;
    width: 330px;
}

.prod_ml {
    margin-left: 80px;
}

.prod_middle {
    flex: 0 auto;
    width: 380px;
    position: relative;
    padding-bottom: 7px;
}

.prod_autor {
    margin-bottom: 10px;
    position: relative;
}

.mb12 {
    margin-bottom: 12px !important;
}

.posi {
    position: relative !important;
}

.pick_tt {
    height: auto !important;
    min-height: 36px;
    border-bottom: 0 !important;
}

.auto_overflow {
    max-height: 66px;
    overflow: hidden;
}

.auto_overflow_inner {
    display: -webkit-box;
    overflow: hidden;
    max-height: 66px;
    line-height: 22px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;
}

.auto_overflow_footer {
    display: block;
    margin-top: 12px;
}

.author {
    color: #000;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.publish_date {
    margin-bottom: 21px;
    color: #767676;
}

.prod_text {
    display: block;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    vertical-align: middle;
}

.best_box {
    margin-bottom: 25px;
    display: block;
    font-size: 0;
}

.review_box {
    margin-top: 30px;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-sizing: border-box;
}

.best_title:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 20px;
    background-image: url("/images/common/ico_best_crown@2x.png");

}

.btn_link {
    color: #767676;
}

.best_link {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: flex-start;
    flex-direction: row;
}

.best_title {
    display: inline-block;
    position: relative;
    max-width: 135px;
    padding-left: 27px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #000;
    font-weight: 700;
    vertical-align: top;

}

.best_text {
    display: inline-block;
    flex: 1 0;
    color: #292929;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.0em;
    vertical-align: top;
}

button[class^=btn_] .text, a[class^=btn_] .text {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.rank {
    color: #000;
    font-weight: 700;
}

.btn_line_gray {
    margin-left: 3px;
    vertical-align: 0;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    height: 24px;
    padding: 1px 5px 1px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.p15 {
    padding: 0 15px !important;
}

.ico_arw {
    width: 6px;
    height: 6px;
    margin-left: 2px;
    background: url("/images/common/arw_footer_link@2x.png") center no-repeat;
    background-size: 6px 6px;
}

.col_review {
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 16px 15px 22px;
    text-align: center;
}

.col_review:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 34px;
    background-color: #eaeaea;
    transform: translateY(-50%);
}

.btn_go_review {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.review_score {
    display: inline-block;
    position: relative;
    color: #4dac27;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-weight: 700;
}

.lucky:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-image: url("/images/common/ico_review_feel_lucky@2x.png");
    vertical-align: top;
}

.rating_container {
    display: inline-block;
    margin: 3px 0 2px;
    position: relative;
    text-align: left;
    font-size: 0;
    vertical-align: top;
}

.rating_stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 88px;
    height: 18px;
}

.filled_start {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999;
    transition: width .25s ease;
}

.star {
    margin: 0 2px;
    display: inline-block;
    text-align: center;
}

.icon_star:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    background-image: url("/images/common/ico_klover@2x.png");
}

.review_quoter_text {
    padding-left: 0;
    padding-top: 23px;
    margin-top: 6px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 700;
    display: inline-block;
    position: relative;
    color: #474c98;
    vertical-align: top;
}

.review_quoter_text:before {
    content: "";
    left: 50%;
    top: 0;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url("/images/common/ico_quotes_lg@2x.png");
    transform: translateX(-50%);
    position: absolute;
}

.review_desc {
    display: inline-block;
    margin-top: 3px;
    color: #595959;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.val {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.no_before::before {
    display: none;
}

.prod_thumb_swiper {
    position: relative;
    display: block;
    unicode-bidi: isolate;
}

.btn_wrap {
    position: static;
    margin-top: 20px;
    text-align: center;
    display: block;
    font-size: 0;
}

.swiper_container {
    overflow: visible;
    margin: 0 auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper_control_box {
    margin-top: 22px;
    text-align: center;
    font-size: 0;
}

.swiper_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition-duration: 0ms;
    transform: translate3d(0, 0, 0);
    padding-left: 0;
}

.prod_thumb_item {
    display: -webkit-flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    background-color: #fff;
    width: 380px;
    opacity: 1;
    transition-duration: 0ms;
    transform: translate3d(0, 0, 0);
}

.blur_img_wrap {
    position: relative;
    width: 100%;
}

.portrait_img_box {
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.life_span {
    border-radius: 16px;
    overflow: hidden;
}

.books_img {
    position: static;
    transform: none;
    width: 100%;
    max-height: 760px;
    object-fit: contain;
}

.button_prev {
    display: inline-block;
    position: static;
    width: 16px !important;
    height: 16px !important;
    margin-top: 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 6px 10px;
    vertical-align: top;
    background-image: url("/images/common/btn_swiper_list@2x.png");
}

.btn_prev {
    opacity: 0.3;
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
    transform: rotate(180deg);
    transition: opacity 0.23s;
    border-radius: 100%;
    box-sizing: border-box;
}

.swiper_pagination {
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    border-radius: 0;
    background: none;
    display: inline-block;
    position: static;
    min-width: auto;
    transform: translateX(0);
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}

.pagination_current {
    color: #000;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
}

.pagination_total {
    color: #767676;
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
}

.pagination_total:before {
    margin: 0 3px;
    color: #767676;
    content: "-";
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 16px;
}

.button_next {
    display: inline-block;
    position: static;
    width: 16px;
    height: 16px;
    margin-top: 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 6px 10px;
    background-image: url("/images/common/btn_swiper_list@2x.png");
    vertical-align: top;
}

.btn_pill {
    width: auto;
    padding-left: 11px;
    padding-right: 12px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 6px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.btn_xs {
    display: -webkit-inline-flex;
    align-items: center;
    flex-direction: row;
    height: 30px;
    padding: 0 9px 1px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.mb {
    margin-bottom: 6px;
    margin-left: 3px;
}

.ml3 {
    margin-left: 3px !important;
}

.ico_preview {
    width: 12px;
    background: url("/images/common/ico_preview@2x.png") left center no-repeat;
    background-size: 12px 12px;
    height: 18px;
    margin-right: 3px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.ico_ebook_preview {
    width: 12px;
    background-image: url("/images/header/btn_header_search_v2@2x.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px 12px;
    height: 18px;
    margin-right: 3px;
}

.ml6_bl {
    margin-left: 6px;
    border: 1px solid #ccc !important;
    box-sizing: border-box;
    vertical-align: top;
}

.ico_all_view {
    width: 12px;
    background-image: url("/images/common/ico_all_view@2x.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    height: 19px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.pord_brea {
    word-break: break-all;
}

.prod_guide {
    margin-top: 15px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.ui_helper_reset {
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.pick_ui:before {
    content: "";
    display: table;
    border-collapse: collapse;
}

.pick_ui:after {
    content: "";
    display: table;
    border-collapse: collapse;
    clear: both;
}


.alarm_apply {
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-top: 16px;
    box-sizing: border-box;
}

.overlap {
    margin-top: 16px;
    display: flex;
    font-size: 0;
    text-align: center;
}

.badge_list_box {
    margin-bottom: 26px;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: -4px;
    font-size: 0;
}


.prod_price_box {
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.badge_md {
    margin-right: 4px;
    margin-top: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    min-height: 22px;
    padding: 1px 5px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;;
}

.badge_pr {
    color: #474c98;
    border: 1px solid #474c98;
    background: #fff;
}

.badge_gray {
    color: #767676;
    border: 1px solid #ccc;
    background: #fff;
}

.badge-text {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.books_price {
    flex: 1;
    font-size: 0;
}

.percent {
    display: inline-block;
    margin-right: 6px;
    color: #4dac27;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    font-weight: 700;
    vertical-align: top;
}

.price {
    display: inline-block;
    margin-right: 4px;
    color: #000;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    vertical-align: top;
}

.sale_price {
    display: inline-block;
    margin-bottom: 2px;
    color: #767676;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    vertical-align: bottom;
}

.books_val {
    display: inline-block;
    font-weight: 700;
}

.unit {
    font-weight: 500;
}

.cancellationLine {
    display: inline-block;
    text-decoration: line-through;
}

.prod_guide_box {
    padding: 18px 0 16px;
}

.box_line {
    border-top: 1px solid #eaeaea;
}

.prod_guide_row {
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.prod_guide_title {
    flex: 0 0 auto;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
    margin-right: 15px;
}

.prod_guide_cont {
    flex: 1;
    max-width: 100%;
    margin-left: auto;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: right;
}

.point_text {
    display: inline-block;
    color: #4dac27;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 700;
    vertical-align: top;
}

.tooltip_wrap {
    position: relative;
    display: inline-block;
    height: 22px;
    vertical-align: top;
    box-sizing: border-box;
}

.tool_ml {
    margin-left: 7px;
}

.btn_tooltip {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0;
}

.ico_arw {
    background-size: 22px 22px;
    background-image: url("/images/common/arw_tooltip@2x.png");
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0;
}

.ico_size {
    width: 20px !important;
    height: 20px !important;
    background-size: 20px 20px !important;
}

.guide_row_mt {
    margin-top: 9px;
}

.nonmember {
    padding-top: 18px;
    border-top: 1px solid #eaeaea;
}

.delivery_guide_text {
    display: inline-block;
    width: 260px;
    vertical-align: top;
}

.delivery_type {
    font-weight: 500;
}

.title_perfix {
    display: inline-block;
    color: #595959;
    margin-right: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}


.type_sm {
    margin: 1px 0 0 3px;
}


.ico_info {
    background-size: 16px 16px;
    background-image: url("/images/common/btn_tooltip_sm@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 22px !important;
    height: 22px !important;
    display: inline-block;
}

.badge_sm {
    min-height: 20px;
    font-size: 12px;
    letter-spacing: -0.01em;
}


.badge_pill {
    padding: 3px 7px 0;
    border-radius: 20px;
    line-height: 1;
    font-weight: 400;
}

.badge {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

.deli_text {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.badge_deli {
    color: #474c98;
    border: 1px solid #ededf7;
    background: #ededf7;
}

.btn_info_popup {
    margin: 2px 0 0 3px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 16px !important;
    height: 16px !important;
    padding: 0;
}

.ico_question {
    vertical-align: top;
    display: inline-block;
    position: relative;
    border: 1px solid #d5d5d5;
    border-radius: 100%;
    background-image: url("/images/common/btn_tooltop_question_sm@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 14px !important;
    height: 14px !important;
}

.fc_gray {
    color: #595959;
}

.sm_he {
    height: 16px;
}


.prod_info_text {
    font-size: 13px;
    color: #000;
    display: block;
    line-height: 22px;
    letter-spacing: -0.01em;
    vertical-align: middle;
}

.text_link {
    text-align: left;
    font-size: 13px;
}

.login_text {
    text-decoration: underline;
}

.btn_more_body {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.auto_info_text {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #595959;
}

.info_text {
    margin: 4px 0 1px;
    text-align: left;
    padding: 14px;
    display: block;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.bul_item_dot {
    padding-left: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    position: relative;
    color: #595959;
    font-weight: 400;
    text-align: left;
}

.flower_info_flex {
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower_text {
    color: #000;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

.btn_xxs {
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    display: -webkit-inline-flex;
    align-items: center;
    flex-direction: row;
    height: 24px;
    padding: 1px 5px 1px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 500;
    box-sizing: border-box;
    vertical-align: top;
}

.fw_medium {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-weight: 500;
}

.ico_more {
    margin-right: 0;
    width: 6px;
    height: 6px;
    margin-left: 2px;
    background-image: url("/images/common/arw_footer_link@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6px 6px;
}

.bul_item_dot:before {
    top: 7px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: #999;
    width: 2px;
    height: 2px;
}

.btn_sm {
    flex: 1;
    min-width: auto;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    display: -webkit-inline-flex;
    align-items: center;
    flex-direction: row;
    height: 38px;
    padding: 0 13px 1px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

.ico_locate {
    width: 14px;
    background-size: 13px 19px;
    background-image: url("/images/common/ico_locate@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 19px;
    margin-right: 3px;
}

.locate_text {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.tab_list_wrap {
    position: relative;
    margin-bottom: 0;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    font-size: 0;
    box-sizing: border-box;
}

.prod_detail_contents {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-box-align: start;
}

.sps {
    height: 72px;
    border-bottom: 1px solid #d5d5d5;
    box-sizing: border-box;
}

.scroll_fixed {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.sps_inner {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.tabs {
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
}

.tab_item {
    position: relative;
    height: 100%;
    margin: 0;
    float: left;
    background: none;
    box-sizing: border-box;
}

.keyword_tab_item {
    position: relative;
    height: 100%;
    margin: 0;
    float: left;
    background: none;
    box-sizing: border-box;
}


.tabs .tab_item:nth-child(1),
.tabs .tab_item:nth-child(4) {
    padding: 0 30px 0 0;
}

.tab_link {
    position: relative;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.selected_li_tage {
    border-color: #595959;
    background: #595959;
}


.tab_link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
}

.tab_text {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 400;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.pick_text {
    padding-bottom: 0;
    color: #595959;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

.tabs .tab_item:nth-child(2),
.tabs .tab_item:nth-child(3) {
    padding: 0 30px;
}

.tabs .tab_item:nth-child(4) {
    padding-left: 30px;
}

.detail_contents_inner {
    width: calc(100% - 330px - 56px);
}

.detail_recommend {
    width: 330px;
    margin: 80px 0 0 56px;
}

.tap_content {
    padding: 0;
    background: #fff;
    box-sizing: border-box;
    outline: none;
}

.product_detail_area {
    margin-top: 80px;
}

.title_wrap {
    position: relative;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

.title_sm {
    padding-bottom: 20px;
}

.title_heading {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    display: inline-block;
    position: relative;
    font-weight: 700;
    overflow-wrap: anywhere;
}

.right_area {
    margin-left: auto;
    flex-shrink: 0;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.bul_item_asterisk {
    color: #767676;
    padding-left: 8px;
}

.bul_item_asterisk:before {
    content: "*";
    color: #474c98;
    position: absolute;
    left: 0;
    top: 0;
}

.font_size_xxs {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

.bul_item_base {
    position: relative;
    font-weight: 400;
    text-align: left;
}

.event_list {
    display: block;
    font-size: 0;
    padding-left: 0;
}

.event_list .event_item {
    display: inline-block;
    width: calc((100% - 40px) / 3);
    margin-left: 20px;
    vertical-align: top;
}

.event_item {
    display: inline-block;
}

.event_item:nth-child(1) {
    margin-left: 0;
}

.event_area .event_link {
    display: block;
    width: 100%;
}

.event_thumb_box {
    border-radius: 16px;
    overflow: hidden;
    display: block;
}

.event_info_box {
    display: block;
    margin-top: 16px;
}

.event_area .event_link .event_thumb_box .img_box {
    position: relative;
    display: block;
}

.event_area .event_link .event_thumb_box .img_box img {
    height: 141px;
    width: 258px;
}

.event_name {
    color: #000;
    font-size: 15px;
    letter-spacing: -0.01em;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    max-height: 46px;
    line-height: 23px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
}

.event_period {
    display: block;
    margin-top: 6px;
    color: #595959;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

.product_detail_together {
    margin-top: 70px;
}

.writer_info_box {
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-align: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    display: -webkit-flex;
}

.title_size_md {
    padding-bottom: 20px;
}

.round_gray_box {
    display: block;
    padding: 36px 30px 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.round_gray_box + .round_gray_box {
    margin-top: 20px;
}

.title_size_def {
    padding-bottom: 20px;
}

.mz {
    transition-timing-function: ease-out;
    margin: 0 auto;
    font-size: 0;
}

.wh22 {
    width: 22px;
    height: 22px;
    min-height: auto !important;
    margin-bottom: 10px !important;
}

.mb22 {
    margin-bottom: 22px !important;
    display: block;
}

.btn_area {
    margin: 30px 0 -10px;
    text-align: center;
    font-size: 0;
}

.title_size_def .title_heading {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.prod_swiper_wrap {
    margin: 0 -30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden !important;
}

.h250 {
    height: 250px;
}

.horizontal {
    padding-bottom: 22px;
}

.prod_list {
    font-size: 0;
    padding-left: 0;
}

.swiper_wrapper_product {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.swiper_slide {
    margin: 0 20px 0 0;
}

.purchase_book {
    width: auto;
    height: auto;
}

.prod_item {
    display: inline-block;
    vertical-align: top;
}

.slide {
    flex-shrink: 0;
    position: relative;
    transition-property: transform, -webkit-transform;
}

.together_book {
    margin-left: 0;
    display: inline-flex;
    font-size: 0;
    vertical-align: top;
}

.together_book .val {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.together_unit {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    vertical-align: top;
}

.no_color {
    color: #000;
}

.prod_area {
    width: 118px;
}

.prod_thumb_box {
    position: relative;
    overflow: hidden;
}


.prod_area .prod_thumb_box {
    width: 100%;
}

.prod_area .prod_thumb_box .prod_link {
    display: block;
    height: 100%;
}

.prod_thumb_box .prod_link .img_box {
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

.prod_thumb_box .prod_link .img_box .img {
    width: 116px;
    height: 145px
}


.prod_info_box {
    margin-top: 16px;
}


.prod_area .prod_info_box {
    text-align: left;
}

.book_img_detail {
    text-align: center;
}

.prod_area .prod_info_box .prod_info {
    display: block;
    height: 100%;
    font-size: 0;
}

.no_width {
    width: auto;
}

.prod_name {
    display: -webkit-box;
    overflow: hidden;
    max-height: 46px;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 500;
    -webkit-box-orient: vertical;
}

.sm_title {
    display: -webkit-box;
    overflow: hidden;
    max-height: 46px;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 500;
    -webkit-box-orient: vertical;
}

.swiper_scrollbar {
    position: absolute;
    bottom: 0;
    z-index: 50;
    height: 2px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    overflow: hidden;
}

.scrollbar {
    left: 30px;
    width: calc(100% - 60px);
}

.scrollbar_drag {
    height: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;
}

.scrollbar_inner {
    transform: translate3d(0, 0, 0);
    width: 288px;
    background: #000;
}

.prod_author {
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: -0.01em;
    display: -webkit-flex;
    overflow: hidden;
    max-height: 38px;
    line-height: 19px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
}

.prod_area .prod_info_box .prod_price {
    display: block;
    margin-top: 12px;
    font-size: 0;
}

.prod_area .prod_info_box .prod_price .price:first-child {
    margin-left: 0;
}


.prod_price .prica {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.width_atuo_price {
    width: 55px;
    height: 22px;
}

.ul_slide {
    transition-timing-function: ease-out;
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
}

.life_img {
    width: 116px;
    height: 116px;
}

.keyword_li {
    height: 36px;
    padding: 0;
    margin: 0 6px 8px 0;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 36px;
    transition: background 0.3s ease-out;
    box-sizing: border-box;
}

.ui_tabs {
    list-style: none;
    top: 0;
    white-space: nowrap;
}

.tab_content {
    padding: 0;
    background: #fff;
    box-sizing: border-box;
    outline: none;
}


.mt16 {
    margin-top: 16px;
}

.mt12 {
    margin-top: 12px;
}

.keyword_pick_list {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    -webkit-box-align: start;
}

.pl0 {
    padding-left: 0;
}

.keyword_pick_list .prod_item {
    display: inline-block;
    width: 118px;
    vertical-align: top;
}

.keyword_pick_list .prod_item .area .prod_thumb_box {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.keyword_pick_list .prod_item .area .prod_thumb_box .prod_link {
    display: block;
    height: 100%;
    width: 107px;
}

.keyword_pick_list .prod_item .area .prod_thumb_box .prod_link .img_box {
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    width: 106px;
}

.keyword_pick_list .prod_item .area .prod_thumb_box .prod_link .img_box .img {
    height: 130px;
    width: 107px;
}

.li_more {
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: auto;
    padding-left: 10px;
}

.keyword_pick_list .li_more {
    margin-left: 20px;
    vertical-align: top;
}

.btn_more_plus {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 31px;
    text-align: center;
    font-weight: 400;
    color: #767676;
}


.btn_more_plus:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    margin-left: -12.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff;
    background-image: url("/images/common/ico_plus_list@2x.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}

.btn_more_plus .text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #767676;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.inner {
    overflow: hidden;
    display: inline-block;
    border-radius: 20px;
    vertical-align: top;
}

.text_letter {
    letter-spacing: -0.01em;
}

.intro_book {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 30px;
}

.intro_bottom {
    padding-top: 30px;
}

.book_info_tet {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
}

.text_bold {
    font-weight: 700;
}

.mt_zero {
    margin-top: 0;
}

.mt_zero .title_heading {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    display: inline-block;
    position: relative;
    overflow-wrap: anywhere;
    font-weight: 500;
}

.category_link {
    color: #595959;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.arw_category {
    display: inline-block;
    width: 6px;
    height: 22px;
    font-size: 0;
    line-height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6px 9px;
    background-image: url("/images/common/arw_footer_link@2x.png");
    margin: 0 6px;
    vertical-align: top;
}

.title_size_md_btn {
    min-height: 38px;
    padding-bottom: 16px;
}

.btn_wish_alarm {
    width: 22px;
    height: 22px;
    text-align: center;
    transition: background -.2s ease-out;
}

.wish_base {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.wish_ml {
    margin-left: 6px;
    transform: translateY(-1px);
}

.ico_wish {
    width: 22px;
    height: 22px;
    background-image: url("/images/common/ico_wish_alarm@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}

.letter_wish {
    width: 44px;
    height: 44px;
    color: #fff;
    letter-spacing: -0.01em;
    line-height: 42px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.ico_wish_base {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.form_chk {
    display: inline-block;
    position: relative;
    min-height: 22px;
    vertical-align: top;
}

.ml_0 {
    margin-left: 0;
}

.active:after {
    background-image: url("/images/common/ico_view_img_active@2x.png");
    background-size: 14px 14px;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    position: relative;
}

.ico_text:after {
    position: relative;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background: url("/images/common/ico_view_txt@2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    margin: 0 auto;
}

.form_chk .input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form_chk .input + label {
    display: inline-block;
    position: relative;
    padding: 2px 0 0 27px;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 20px;
    color: #000;
    cursor: pointer;
    vertical-align: top;
    transition: color 0.2s ease-out;
    -webkit-user-select: none;
}


.form_chk .input + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.form_chk .input + label:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    background-position: center 8px;
    background-repeat: no-repeat;
    background-size: 10px 7px;
    background-image: url("/images/common/ico_checkbox_active@2x.png");
}

.btn_all_text {
    margin-left: 20px;
}

.switch_list {
    display: inline-block;
    width: 75px;
    font-size: 0;
    vertical-align: top;
}

.btn_switch {
    display: inline-block;
    width: 50%;
    height: 38px;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    border-radius: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.right_area .btn_switch:first-child {
    border-radius: 6px 0 0 6px;
}

.right_area .btn_switch:last-child {
    padding: 0 0 0 0;
}


.btn_switch_base {
    color: #000;
    background: #fff;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out
}


.letter_ico_wish {
    width: 18px;
    height: 18px;
    background-image: url("/images/common/ico_wish_alarm@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    margin-top: 12px;
    transition: background 0.2s ease-out;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.btn_ip {
    display: -webkit-inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    min-width: 86px;
    height: 44px;
    padding: 0 19px 1px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.btn_light_gray {
    margin-left: 5px;
    color: #fff;
    background: #767676;
    border: 1px solid #767676;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    box-sizing: border-box;
    vertical-align: top;
}



