.comment_list {
    border-top: none;
    display: block;
    border-bottom: 1px solid #eaeaea;
}


.tab_wrap {
    position: relative;
    width: 100%;
    padding: 0;
}

.tab_content {
    padding: 0;
    background: #fff;
    box-sizing: border-box;
    outline: none
}

.comment_wrap {
    display: block;
    word-break: break-all;
}

.comment_list {
    border-top: none;
    display: block;
    border-bottom: 1px solid #eaeaea;
}

.comment_item {
    display: block;
    position: relative;
    padding: 20px 10px;
    box-sizing: border-box;
}

.comment_header {
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
}

.left_area {
    flex: 1 0;
}

.right_area {
    flex: 0 auto;
}

.user_info_box {
    display: block;
    color: #767676;
    font-size: 0;
}

.badge_box {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}

.badge_base {
    box-sizing: border-box;
    text-align: center;
}

.info_item {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    vertical-align: top;
}

.pt_1 {
    padding-top: 1px;
}

.gap_margin {
    margin: 6px 6px 0 8px !important;
    height: 9px;
    box-sizing: border-box;
}

.gap {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 6px 10px 0;
    background-color: #ccc;
    font-size: 0;
    vertical-align: top;
}

.ml_2 {
    margin-left: 2px !important;
}

.badge_pill {
    padding: 3px 7px 0;
    border-radius: 20px;
    line-height: 1;
    font-weight: 400;
}

.badge_class {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

.font_xs {
    font-weight: 500;
}

.bl_br {
    border-left: 1px;
    border-right: 1px;
}

.text_ex {
    border: 1px solid transparent;
    background: rgba(23, 23, 237, 0.1);
    min-height: 20px;
    font-size: 12px;
    letter-spacing: -0.01em;
}

.badge_kyobo {
    color: #767676;
    border: 1px solid transparent;
    background: rgba(23, 23, 237, 0.1);
}

.badge_sm {
    min-height: 20px;
    font-size: 12px;
    letter-spacing: -0.01em;
}

.text_base {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.text_wh {
    height: 12px;
    width: 33px
}

.badge_line_gray {
    border-color: #767676;
    color: #000;
}

.btn_replay{
    margin-top: 1px;
    color:#767676;
    font-size:13px;
    line-height:19px;
    letter-spacing:-0.01em;
    transition:color 0.2s ease-out
}

.ml_6 {
    margin-left: 6px;
}

.back {
    background: #fff;
    border: 1px solid #ccc;
}

.btn_comment_util {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.text_report {
    color: gray;
    vertical-align: top;
    height: 16px;
}

.review_right_area {
    flex: 0 auto;
}

.reivew_summary_wrap {
    display: block;
    font-size: 0;
}

.rating_sm {
    margin: 0 -2px 0 -1px;
}

.mt_3 {
    margin-top: 3px !important;
}

.rating_footer {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 0;
    vertical-align: top;
}

.w_68 {
    width: 68px;
    height: 14px;
}

.rating_input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    opacity: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    pointer-events: none;
    border: none;
    box-shadow: none;
    background: 0 0;
}

.summary_gap {
    display: inline-block;
    width: 4px;
    height: 8px;
    margin: 6px 6px 0;
    background-image: url("/images/common/ico_slash@2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 4px 8px;
    vertical-align: top;
}

.review_quotes_text {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    color: #474c98;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
    vertical-align: top;
}

.review_quotes_text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 13px;
    height: 13px;
    background-image: url("/images/common/ico_quotes_lg@2x.png");
    background-size: 13px 13px;
    background-position: center;
    background-repeat: no-repeat;
}

.mr_1 {
    margin-right: 1px;
}

.empty_stars {
    color: #aaa;
}

.filled_start {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999;
    transition: width .25s ease;
}

.ml01 {
    margin: 0 2px 0 1px !important;
}

.star {
    margin: 0 2px;
    display: inline-block;
    text-align: center;
}

.icon_star:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    background-image: url("/images/common/ico_klover@2x.png");
}


.icon_score_start:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    background-image: url("/images/common/ico_klover@2x.png");
}

.comment_contents {
    display: block;
}

.contents_inner {
    max-height: 66px;
    overflow: hidden
}

.comment_view_wrap {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    flex-direction: row;
    align-items: stretch;
}

.comment_text_box {
    display: block;
    flex: 1;
    width: 100%;
}


.comment_text {
    color: #000;
    font-size: 14px;
    letter-spacing: -0.01em;
    display: -webkit-box;
    overflow: hidden;
    max-height: 66px;
    line-height: 22px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    word-break: break-all;
}

.comment_footer {
    display: block;
    position: relative;
    margin-top: 12px;
}

.btn_more_body {
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.btn_base {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}


.non_di {
    display: none;
}

.footer_ico_arw {
    background-size: 20px 20px;
    background-image: url("/images/common/arw_tooltip@2x.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 4px;
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left
}


.comment_util_box {
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
    align-items:center;
    flex-direction:row;
    width:106px;
    height:20px;
}

.dis_in{
    display:inline-block;
}

.w_62{
    width:62px
}

.util {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.footer_area {
    flex: 0 auto;
    margin-left: 0;
    font-size: 0;
}



.w_32_h_20{
    width:32px;
    height:20px
}

.p_0{
    padding:0;
}

.w_58_h_20{
    width:58px;
    height:20px;
}

.ico_like {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-image: url("/images/common/ico_like@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: background 0.2s ease-out
}

.btn_like_text {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    padding-top: 1px;
    transition: color 0.2s ease-out;
}

.footer_ico_arw {
    background-size: 20px 20px;
    background-image: url("/images/common/arw_tooltip@2x.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 4px;
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left
}


.h_20{
    height:20px;
}

.ml_16{
    margin-left: 16px;
}

.ico_reply {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-image: url("/images/common/ico_reply@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: background 0.2s ease-out
}