.call{
    font-weight: 700;
}
.gap {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 8px 6px 0;
    background-color: #d5d5d5;
    vertical-align: top;
}

.info_text {
    display: inline-block;
    margin-top: 4px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #595959;
    vertical-align: top;
}

.footer_menu_item:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 4px 12px 0;
    background-color: #d5d5d5;
    vertical-align: top;
}

.footer_menu_item.no-before:before {
    content: none;
    display: none;
}

.footer_menu_link {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #595959;
}

.item_privacy {
    font-weight: 700;
    color: #000;
    text-decoration: underline;
}

.footer_menu_item {
    display: inline-block;
    vertical-align: top;
}

.footer_menu_list {
    font-size: 0;
}

.copyright {
    margin-top: 23px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #767676;
}

.footer_info_box {
    margin-top: 20px;
    font-size: 0;
}

.footer_menu_box {
    margin-top: 2px;
}

.footer_contents_right {
    margin-left: auto;
}

.footer_contents_left {
    flex: 1;
}

.sns_inst {
    background-size: 32px 32px;
    background-image: url("/images/sns/btn_footer_sns_insta_v2@2x.png");
}

.sns_face {
    background-size: 32px 32px;
    background-image: url("/images/sns/btn_footer_sns_fb_v2@2x.png");
}

.sns_ml {
    margin-left: 8px;
}

.sns_share {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
}

.sns_youtube {
    background-size: 32px 32px;
    background-image: url("/images/sns/btn_footer_sns_youtube_v2@2x.png");
}


.btn_family_site:after {
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    display: block;
    width: 8px;
    height: 4px;
    margin-top: -2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 4px;
    background-image: url("/images/common/arw_familysite_more@2x.png");
    transition: transform 0.23s;
}

.family_text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.btn_family_site {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 22px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 20px;
    text-align: left;
    box-sizing: border-box;
    transition: background-color 0.23s, border-color 0.23s
}

.sns_share_box {
    margin-left: 12px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    box-sizing: border-box;
}

.family_site_box {
    position: relative;
    width: 180px;
    display: inline-block;
    vertical-align: middle;
}

.img_footer {
    width: 100%;
}

.logo_link {
    width: 168px;
    height: 48px;
    display: block;
}

.f_logo_box {
    font-size: 0;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.footer_contents_wrap {
    margin-top: 20px;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.footer_logo_box {
    font-size: 0;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;

}

.f_inner {
    width: 1200px;
    margin: 0 auto;
}

.item_link_cl {
    color: #595959
}

.service_item {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    margin-top: 10px;
}

.service_list {
    margin-top: 16px;
    padding-left: 0;
}

.title_group_name {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
}

.a_group_name {
    padding-right: 22px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 16px;
    background-image: url("/images/common/arw_anb_category_all@2x.png");
}

.bl_pl {
    border-left: 1px solid #eaeaea;
    padding-left: 37px;
}

.service_group_box {
    flex: 1;
}

.service_groop_area {
    width: 100%;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-items: stretch;
}

.winner:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #d5d5d5;
    left: 30px;
    top: 7px;
}

.btn_more_plus_footer {
    color: #000;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 700;
    text-align: left;
}

.footer_right_area {
    margin-left: auto;
    flex-shrink: 0;
    padding-left: 15px;
}

.notice_link {
    flex: 1;
    margin-left: 30px;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: none;
    -webkit-box-orient: inherit;
    -webkit-line-clamp: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-decoration: underline;

}

.notice_text {
    font-size: 15px;
    flex-shrink: 0;
    display: inline-block;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
    vertical-align: top;
}

.winner {
    position: relative;
    padding-left: 61px;
}

.notice_wrap {
    flex: 1;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.welcome_main_service_area {
    padding: 40px 0 50px;
    background: #f7f7f7;
    border-top: 1px solid #eaeaea;
    margin-top: 0;
}

.area_footer_inner {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.footer_inner {
    padding: 19px 0 20px;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}

.footer_wrapper {
    margin-top: 150px;
}

.footer_body {
    padding: 40px 0 50px;
    border-top: 1px solid #eaeaea;
}

.footer_header {
    border-top-width: 1px;
}

.default {
    margin-top: 150px;
    border-top: 1px solid #d5d5d5;
}