body, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input,
select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: inherit;
}

body {
    font-size: 14px;
    line-height: 1.4;
    min-width: 1440px;
    color: #000;
}

html, body {
    height: 100%;
}

body {
    display: block;
    margin: 8px
}

div {
    display: block;
    unicode-bidi: isolate;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 1440px;
    min-height: 100vh;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

button {
    background-color: transparent;
}

input, button, select, textarea {
    vertical-align: top;
}

input {
    vertical-align: middle;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
}

img {
    vertical-align: top;
}

b {
    font-weight: bold;
}

.hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

img {
    vertical-align: middle;
}

img, fieldset {
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

ul li::marker {
    display: none;
    content: none;
}

button {
    appearance: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}

button[class^=btn_] [class^=ico_], a[class^=btn_] [class^=ico_] {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

input, button {
    border: 0;
    border-radius: 0;
    background: none;
}

.header_wrapper {
    width: 100%;
    border-bottom: none;
    flex-shrink: 0;
    height: 54px;
    position: relative;
    background-color: #fff;
    z-index: 1000;
}


.header_inner {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    position: relative;
}


.logo_box {
    display: inline-block;
    width: 171px;
    height: 56px;
    vertical-align: top;
}


.logo_link {
    display: block;
    height: 100%;
}

.logo_link_img {
    width: 100%;
}

button[class^=btn_], a[class^=btn_] {
    box-sizing: border-box;
    vertical-align: top;
}

button[class^=btn_] .text, a[class^=btn_] .text {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.unit {
    font-size: 12px;
    vertical-align: 1px;
    color: #000;
    font-weight: 400;
    letter-spacing: -0.01em;
}

a[disabled], a[aria-disabled=true], a.disabled, button[disabled], button[aria-disabled=true], button.disabled {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
}

.btn_sns_lg {
    min-width: 42px;
}



.btn_ico_arrow {
    width: 5px !important;
    height: 9px !important;
    margin-top: 5px;
    background-image: url("/images/common/btn_swiper_list_wh@2x.png");
    background-size: 5px 9px;
}

.ico_phone{
    background-size:36px 36px;
    background-image: url("/images/common/ico_cert_phone_36x36@2x.png");
}

.ico_ipin{
    background-size:36px 36px;
    background-image: url("/images/common/ico_cert_ipin_36x36@2x.png");
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    border:0;
}

caption{
    visibility: hidden;
    overflow: hidden;
    line-height: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    font-size: 0;
}

colgroup {
    display: table-column-group;
    unicode-bidi:isolate
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}