.wrapper {
    position: relative;
    min-width: 1440px;
    overflow: hidden;
    min-height: 100vh;
}

.container_wrapper {
    position: relative;
}

.my_home {
    min-height: calc(100vh - 80px);
}

.my_home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 360px;
    background-size: cover;
    background-image: url("/images/common/bg_myroom_main@2x.png");
}

.breadcrumb_wrap {
    position: relative;
    padding-top: 20px;
    z-index: 102;
}

.breadcrumb_inner {
    width: 1200px;
    margin: 0 auto;
}

.breadcrumb_list {
    font-size: 0;
}

.breadcrumb_item {
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: top;
}

.breadcrumb_my {
    position: relative;
    padding-left: 20px;
}

.home_link {
    background-image: url("/images/common/ico_breadcrumb_home_white@2x.png");
    background-size: 14px 13px;
}

.home_item {
    display: block;
    width: 14px;
    height: 19px;
    background-position: 0 2px;
    background-repeat: no-repeat;
}

.breadcrumb_my:before {
    content: "/";
    position: absolute;
    top: 6px;
    left: 8px;
    display: block;
    width: 4px;
    height: 8px;
    background-size: 4px 8px;
    background-image: url("/images/common/ico_breadcrumb_divide@2x.png");
}

.breadcrumb_mypage {
    color: #fff;
    position: relative;
    padding-bottom: 8px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.contents_wrap {
    position: relative;
    padding-top: 42px;
    width: 1440px !important;
}

.aside {
    padding-top: 42px;
    width: 1200px;
    margin: 0 auto;
}

.contents_inner {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 1200px;
    height: 1600px;
    margin: 0 120px;
}

.aside_wrap {
    width: 180px;
    padding-right: 36px;
    height: 1600px;
}

.section_wrap {
    display: block;
    height: 1630px;
    width: 984px;
}

.my_profifle_area {
    margin-bottom: 74px;
    padding: 0;
    background: none;
    overflow: visible;
    position: relative;
    border-radius: 16px;
}

.snb_wrap {

}

.profile_thumb_box {
    width: 70px;
    height: 70px;
    position: relative;
}

.profile_name_box {
    min-height: 56px;
    max-height: 82px;
    position: relative;
    margin-top: 10px;
    line-height: 26px;
}

.profile_info_list {
    padding: 17px 20px 19px;
    margin-top: 12px;
    border-radius: 12px;
    background-color: rgba(56, 59, 124, 0.2);
    font-size: 0;
}

.btn_setting {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.thumb_box {
    border: none;
    background-size: cover;
    background-image: url("/images/common/img_no_profile@2x.png");
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.btn_setting:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -12px;
    display: block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-image: url("/images/common/btn_profile_setting@2x.png");
}

.name {
    font-size: 20px;
}

.wrap {
    white-space: nowrap;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: #fff;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.nickname {
    display: inline-block;
    vertical-align: top;
    max-width: 182px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badge {
    vertical-align: top;
    flex-wrap: wrap;
    align-items: start;
}

.type_icon {
    display: flex;
    margin-top: 7px;
    gap: 9px;
}

[class^=badge] {
    white-space: nowrap;
}

.badge_lg {
    padding: 0;
    background: none;
    border: none;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.pill {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

.bp {
    border-radius: 22px;
}

.bp:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    width: 20px;
    height: 23px;
    background: none no-repeat 0 0 / 100%;
}

.pill:before {
    background-image: url("/images/common/ico_grade_friends_sm.png");
}

.text {
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: #fff;
}

.badge_lg:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin: 7px 0 0 4px;
    width: 5px;
    height: 9px;
    background: url("/images/common/btn_more_view_white@2x.png") no-repeat 0 0 / 100%;
}

.info_item {
    display: inline-block;
    vertical-align: top;
}

.item_mi {
    width: calc(50% - 16px);
}

.item_pu {
    width: calc(50% + 16px);
}

.item_pu:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 10px 15px 0;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.1;
    vertical-align: top;
}


.info_link {
    display: inline-block;
    vertical-align: top;
}

.title {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    margin-top: 0;
    margin-bottom: 5px;
    display: block;
    color: #fff;
    opacity: 0.8;
}

.val {
    font-size: 18px;
    display: block;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #fff;
}

/*사이드 속성에 링크는 다 똑같음 */
.snb_link {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 700;
    display: block;
    position: relative;
}

.snb_item_link {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.10em;
}

.m0 {
    padding: 0;
}

.m-top {
    margin-top: 8px;
}

.ul_m_top {
    margin-top: 24px;
}

.toggle_title {
    font-size: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.toggle_content {
    display: block;
}

.toggle_box {
    display: inline-block;
    height: 37px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 0;
    vertical-align: top;
}

.toggle_list {
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;
    padding-left: 30px;
}

.toggle_none {
    display: none;
}

.btn_switch {
    display: inline-block;
    height: 100%;
    padding: 0 16px;
    border-radius: 30px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #fff;
    vertical-align: top;
}

.btn_alarm {
    opacity: 1;
    background-color: #4dac27;
}

.btn_recommendation {
    margin-left: -8px;
}

.toggle_item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.btn_toggle_item {
    opacity: 1;
    color: #fff;
    overflow: visible;
    font-weight: 700;
    position: relative;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    transition: color 0.23s, font-weight 0.23s
}

.btn_toggle_item:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transform: translateX(-50%);
    transition: background-color 0.23s;
}

.active:before {
    background-color: #4dac27;
}

.toggle_item_m0 {
    margin-right: 0;
}

.custom_swiper_wrap {
    position: relative;
}

.swi_container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.control_box {
    position: absolute;
    top: -51px;
    right: -13px;
    z-index: 1;
    text-align: center;
    font-size: 0;
}

.prod_blur {
    font-size: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
    padding-left: 0;
}

.blur_items {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
}

.blur_slide {
    width: auto;
    height: auto;
    flex-shrink: 0;
    position: relative;
}

.blur_wrap {
    overflow: hidden;
    position: relative;
    width: 311px;
    min-height: 243px;
    height: 100%;
    border-radius: 16px;
}

.blur_inner {
    background-color: transparent;
    background-size: cover;
    background-image: url("/images/common/bg_myroom_alarm@2x.png");
}

.blur_link {
    position: relative;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column;
    align-items: stretch;
    height: 243px;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 2;
}

.my_header {
    margin-bottom: 30px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.alarm_box {
    display: block;
    width: 100%;
}

.alarm_state {
    display: inline-block;
    flex-shrink: 0;
    height: 26px;
    padding: 4px 12px 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: #fff;
    vertical-align: top;
    box-sizing: border-box;
}

.state_desc {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #fff;
}

.alarm_desc {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #fff;
    box-sizing: border-box;
    word-break: keep-all;
}

.button_prev {
    margin-right: 10px;
    transform: rotateY(-180deg);
    width: 35px;
    height: 35px;
    background-image: url("/images/section/btn_swiper_list_wh@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    display: inline-block;
    position: static;
    vertical-align: top;
    padding: 0;
}

.button_next {
    width: 35px;
    height: 35px;
    background-size: 9px 18px;
    background-image: url("/images/section/btn_swiper_list_wh@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    display: inline-block;
    position: static;
    vertical-align: top;
    padding: 0;
    border-radius: 100%;
}

.benfit_info_wrap {
    margin-top: 50px;
}

.benfit_ico_group {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.benfit_sub_group {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 19px 0;
    margin-top: 10px;
    border-radius: 16px;
    border: 1px solid #eaeaea;
}

.benfit_item {
    position: relative;
    flex: 1;
}

.benfit_box {
    margin-left: 10px;
}

.benfit_item:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 22px;
    display: block;
    width: 40px;
    height: 40px;
}


.benfit_a:before {
    background-size: 40px 40px;
    background-image: url("/images/common/img_my_benefit_point@2x.png");
}

.benefit_link {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    align-items: flex-end;
    flex-direction: column;
    height: 142px;
    padding: 23px;
    border-radius: 16px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.benefit_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
    text-align: right;
}

.benefit_val {
    margin-top: auto;
    font-size: 0;
    color: #595959;
    text-align: right;
}

.my_val {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #595959;
    text-align: right;
}

.point {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.benefit_sub_box {
    position: relative;
    padding-left: 24px;
    flex: 1;
}

.pl {
    padding-left: 23px;
}

.box_link {
    display: block;
    height: calc(100% - 24px);
    margin-right: 24px;
}

.line:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 1px;
    height: 46px;
    background-color: #eaeaea;
}

.b_title {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
}

.b_val {
    margin-top: 4px;
    font-size: 0;
    color: #595959;
}

.title_wrap {
    margin-top: 70px;
    margin-bottom: 20px;
    position: relative;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.title_head {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    position: relative;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.right_area {
    margin-left: auto;
    flex-shrink: 0;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.btn_more_view {
    color: #595959;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 500;
    text-align: left;
}

.text_more {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.ico_plus {
    background-image: url("/images/section/btn_swiper_list@2x.png");
    width: 5px;
    height: 9px;
    margin-top: 5px;
    background-size: 5px 9px;
    margin-left: 4px;
}

.my_library_list {
    font-size: 0;
    padding-left: 0;
}

.my_library_item {
    display: inline-block;
    width: 311.328px;
    margin-right: 25px;
    vertical-align: top;
}

.mr_zero {
    margin-right: 0;
}

.my_library_box {
    position: relative;
}

.no_data_line {
    height: 214px;
    padding: 0 20px;
    width: 100%;
    display: -webkit-flex;
    -webkit-box-pack: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    justify-content: center;
}

.my_library_bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 16px;
}

.my_library_box_inner {
    position: relative;
    height: 214px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.25);
}

.my_img {
    position: absolute;
    width: 160%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(30px);
}

.my_library_link {
    height: 100%;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 40px;
    box-sizing: border-box;
}

.my_library_img_box {
    width: 84px;
    overflow: hidden;
    flex-shrink: 0;
}

.my_library_info {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 16px;
}

.img_box {
    display: block;
}

.img_book {
    width: 100%;
    max-height: 125.912px;
}

.my_library_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #fff;
}

.thumb_list {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 20px;
}

.thumb_add {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: solid 1px #d5d5d5;
    background-color: #fff;
}

.thumb {
    position: relative;
    z-index: 0;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


.text_add {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: #4dac27;
}

.radius {
    border-radius: 10px 10px 10px 0;
}

.no_data_desc {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #767676;
    text-align: center;
}

.btn_add_cont {
    margin-top: 16px;
}

.ico_add_cont {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("/images/common/btn_add_cont@2x.png");
}

.text_additional {
    font-weight: 500;
    margin-left: 6px;
    font-size: 13px;
    line-height: 19px;
    color: #595959;
}

.my_activity_wrap {
    margin-top: 50px;
    font-size: 0;
}

.continue_view_box {
    display: inline-block;
    width: 311px;
    vertical-align: top;
}

.activity_more_box {
    display: inline-block;
    width: 648px;
    margin-left: 25px;
    vertical-align: top;
}

.title_wrap {
    position: relative;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.titme_sizi_md {
    padding-bottom: 20px;
}

.continue_view_list {

}

.my_quick_link_box {

}

.sam_voucher_wrap {
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.view_item {
    position: relative;
    height: 311px;
}

.continue_prod {
    position: relative;
    height: 100%;
    border-radius: 16px;
}

.no_data {
    display: block;
    padding: 40px 40px 24px;
    box-sizing: border-box;
    background: #f7f7f7;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.font {
    font-weight: 500;
    display: block;
}

.no_data_sdesc {
    width: 100%;
    margin: 3px 0 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eaeaea;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #767676;
    text-align: center;
}

.swiper_container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper_control_box {
    margin-top: 21px;
    text-align: center;
    font-size: 0;
}

.swiper_wrapper {
    padding-left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: border-box;
}

.swiper_slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform, -webkit-transform;
    width: 231px;
    margin-right: 30px;
}

.prod_area {
    align-items: flex-start;
    width: 100%;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}

.prod_thumb {
    width: 84px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.prod_info {
    margin-left: 10px;
    overflow: hidden;
}

.prod_link_a {
    display: block;
    height: 100%;
}

.img_item_book {
    background-image: url("/images/book/9791158394646.jpg");
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

.img_react {
    max-height: calc((84px - 2px) * 1.618 - 10px);
}

.books_title {
    display: block;
    height: 100%;
    font-size: 0;
}

.prod_author {
    margin-top: 4px;
    font-size: 14px;
    letter-spacing: -0.01em;
    display: -webkit-box;
    overflow: hidden;
    max-height: 36px;
    line-height: 18px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
    color: #595959;

}

.btn_list {
    margin-top: 11px;
    width: auto;
    padding-left: 11px;
    padding-right: 12px;
    border-radius: 30px;
}

.button_list {
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    display: -webkit-inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 30px;
    padding: 0 9px 1px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.prod_name {
    max-height: calc(19px * 2);
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
    font-weight: 700;
}

.ico_list_plus {
    width: 8px;
    background-size: 8px 8px;
    background-image: url("/images/common/ico_plus_list@2x.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btn_list_plus {
    height: 18px;
    margin-right: 3px;
}

.add_text {
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: #000;
}

.pb {
    padding-bottom: 20px;
}

.h150 {
    height: 150px;
    padding: 0;
}

.sam_info_box {
    flex: 1;
    padding: 22px 24px 24px 20px;
    border-radius: 16px;
    height: 150px;
    box-sizing: border-box;
}

.box {
    background-color: rgba(6, 187, 192, 0.07);
}

.sam_info_link {
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.info_desc {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
}

.btn_size_sm {
    margin-top: auto;
    align-self: flex-end;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #595959;
    font-weight: 500;
    text-align: left;
}

.sam_logo {
    display: inline-block;
    width: 44px;
    height: 13px;
    margin-top: 4px;
    vertical-align: top;
}

.sam_img {
    width: 100%;
    vertical-align: top;
}

.sm_text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #595959;
}

.ico_arw {
    background-image: url("/images/common/btn_more_view@2x.png");
    width: 5px;
    height: 9px;
    background-size: 5px 9px;
    vertical-align: top;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-left: 4px;
}

.mar_left {
    margin-left: 10px;
    background-color: rgba(80, 85, 177, 0.07)
}

.fw_bold {
    font-weight: 700;
    color: #474c98;
}