.title_size_xxl {
    padding-bottom: 30px;
    position: relative;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.showcase_template_wrap {

}

.title_heading {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.01em;
    display: inline-block;
    position: relative;
    font-weight: 700;
    overflow-wrap: anywhere;
}

.category_tag_list {
    margin: 4px 0 0 30px;
    padding: 0;
}

.right_area {
    margin-left: auto;
    flex-shrink: 0;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.category_item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.category_item_right {
    margin-right: 0;
}

.btn_category {
    overflow: visible;
    font-weight: 700;
    color: #474c98;
    position: relative;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    transition: color 0.23s, font-weight 0.23s;
    border: 0;
}

.btn_category:before {
    background-color: #4dac27;
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transform: translateX(-50%);
    transition: background-color 0.23s;
}

.btn_category_remain {
    position: relative;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #767676;
    transition: color 0.23s, font-weight 0.23s;
    border: 0;
}

.btn_category_remain:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transform: translateX(-50%);
    transition: background-color 0.23s;
}

.btn_more_plus_text {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    color: #000;
    font-weight: 700;
    text-align: left;
}

.text_plus {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #000;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.template_col {
    min-width: inherit;
    flex: 1;
}

.detail_swiper_wrap {
    width: 734px;
    padding-right: 74px;
    clip-path: polygon(-20% -20%, 100% -20%, 100% 120%, -20% 120%);
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-sizing: border-box;
    height: 368px;
    display: flex;
    align-items: center;
}

.expand_related_book_wrap {
    padding-right: calc(100% - 680px);
    position: relative;
}

.template_row {
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    display: -webkit-flex;
    -webkit-box-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.ico_plus {
    width: 10px;
    height: 10px;
    margin: 6px 0 0 6px;
    background: url("/images/common/ico_plus_h10_bold@2x.png");
    background-size: 10px 10px;
}

.thumb_swiper_wrap {
    width: calc(100% - 720px + 168px);
    clip-path: polygon(182px 0, 100% 0, 100% 100%, 182px 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: min-content;
}

.swiper_container_fade {
    overflow: visible;
    width: 100%;
    height: auto !important;
    margin: 0 auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.main_wrapper {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.main_notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.main_li {
    width: 660px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column;
    background-color: #fff;
    height: auto;
}

.prod_area_hor_izontal {
    width: 100%;
    display: -webkit-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.prod_thumb_box {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
    width: 234px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}


.prod_img_box {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

.prod_img_box_a {
    max-height: 365.376px;
}

.prod_link {
    pointer-events: auto;
}

.prod_info_box {
    pointer-events: auto;
    margin-left: 30px;
    overflow: hidden;
}

.prod_name {
    max-height: calc(30px * 2);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    font-weight: 500;
}

.prod_author {
    font-size: 14px;
    letter-spacing: -0.01em;
    display: -webkit-box;
    overflow: hidden;
    max-height: 44px;
    line-height: 22px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-all;
    color: #595959;
    margin-top: 8px;
}

.prod_info_title {
    display: block;
    height: 100%;
    font-size: 0;
}

.unit {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.val {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.price {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    width: 64px;
}

.percent {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    display: inline-block;
    margin-top: 3px;
    font-weight: 700;
    color: #4dac27;
    vertical-align: top;
    margin-right: 3px;
}

.prod_md_comment:before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    background-size: 16px 16px;
    height: 16px;
    background-image: url("/images/main/ico_md_comment@2x.png");
    top: 3px;
    left: 0;
}

.prod_md_comment_desc {
    margin-top: 12px;
    color: #595959;
    font-size: 14px;
    letter-spacing: -0.01em;
    display: -webkit-box;;
    overflow: hidden;
    line-height: 22px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break:break-all;
    max-height: 66px;
}

.prod_md_comment {
    position: relative;
    padding-left: 20px;
    color: #474c98;
    margin-top: 30px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    max-height: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prod_price {
    margin-top: 20px;
    font-size: 0;
    width: 396px;
    display: flex;
    gap: 5px;
    align-items: center;
}